@keyframes ldio-bq6z1k6dbpt-1 {
    0% { top: 18px; height: 64px }
    50% { top: 30px; height: 40px }
    100% { top: 30px; height: 40px }
}
@keyframes ldio-bq6z1k6dbpt-2 {
    0% { top: 20.999999999999996px; height: 58.00000000000001px }
    50% { top: 30px; height: 40px }
    100% { top: 30px; height: 40px }
}
@keyframes ldio-bq6z1k6dbpt-3 {
    0% { top: 24px; height: 52px }
    50% { top: 30px; height: 40px }
    100% { top: 30px; height: 40px }
}
.ldio-bq6z1k6dbpt div { position: absolute; width: 15px }

.ldio-bq6z1k6dbpt div:nth-child(1) {
    left: 17.5px;
    background: #e15b64;
    animation: ldio-bq6z1k6dbpt-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.2s
}
.ldio-bq6z1k6dbpt div:nth-child(2) {
    left: 42.5px;
    background: #f8b26a;
    animation: ldio-bq6z1k6dbpt-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.1s
}
.ldio-bq6z1k6dbpt div:nth-child(3) {
    left: 67.5px;
    background: #abbd81;
    animation: ldio-bq6z1k6dbpt-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: undefineds
}

.loadingio-spinner-pulse-wq4jmex0tor {
    width: 78px;
    height: 78px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background: #ffffff;
}
.ldio-bq6z1k6dbpt {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.78);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-bq6z1k6dbpt div { box-sizing: content-box; }
